body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    box-shadow: 8px 8px 10px 3px darkorange;
    width: 16%;
    text-shadow: 
    1px 1px 0px black,
    -1px 1px 0px black,
    1px -1px 0px black,
    -1px -1px 0px black;
}

ul {
    margin: 0px;
}

body > header {
    background-color: orange;
    color: white;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}


.navbutton {
    color: white;
    text-decoration: none;
}

body > main > article {
    width: 70%;
    margin: auto;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}

body > footer {
    background-color: orange;
}

img {
    border-radius: 50%;
}
